body {
    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0; padding: 0;

    width: 100vw;
    height: 100vh;

}

#drop-region {
    display: block;
    padding: 5em;
}

#spekkio {
    user-select: none;
    pointer-events: none;
}

.dragover {
    border-radius: 1em;
    border: 2px dashed #aaa;
}
